@import url(./main-style.css);

section {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.mainSection>ul>li {
    list-style-type: none;
}

.mainSection>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.mainSection>h2 {
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 15px;
}

.webTools {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.webTools div {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(125, 125, 125, 0.1);
    border-right: 1px solid var(--bg-black);
    border-left: 1px solid var(--bg-black);
}

.webTools div:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.webTools a {
    text-decoration: none;
    color: inherit;
}

.webTools p {
    text-align: center;
}

.webTools h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 1px 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 900px) {
    .webTools {
        margin-bottom: 30px;
    }

    .webTools div {
        max-width: 90vw;
    }
}

@media screen and (max-width: 340px) {

    .webTools {
        margin-top: 15px;
    }

    .webTools div {
        max-width: 90vw;
        height: auto;
        min-height: 100px;
        overflow: hidden;
    }

    .webTools h3 {
        font-size: 1rem;
    }

    .webTools a {
        margin: -10px 0;
    }
}

@media screen and (max-width: 280px) {

    .mainSection>h2 {
        margin-bottom: 5px;
    }

    .webTools h3 {
        font-size: 0.9rem;
    }

    .webTools p {
        font-size: 0.8rem;
        text-align: center;
    }

}