@import url(../../main-style.css);

section {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInput {
    max-width: 85%;
    resize: none;
    padding: 5px 10px;
    outline: none;
}

section>h2 {
    margin: 15px 0;
    text-align: center;
}

section>div {
    display: flex;
    margin: 10px 0;
}

section>div>p {
    margin: 0 15px;
}

.result>p>span {
    font-weight: bold;
    margin-left: 5px;
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .result {
        flex-wrap: wrap;
        justify-content: center;
    }

    .result p {
        padding: 7px 20px;
    }

}

@media screen and (max-width: 400px) {
    section>h2 {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .result {
        flex-wrap: wrap;
    }

    .result p {
        padding: 7px 5px;
    }
}