:root {
    /* Dark Mode Colors */
    --bg-black: #18181b;
    --main-black-color: #101010;
    --secondary-black-color: #232323;

    /* White Mode Colors */
    --white: #f1f1f1;
    --main-white-color: #ffffff;
    --secondary-white-color: #ededed;

    /* Standard colors */
    --button-color: #3EB72B;
    --button-color-hover: #248c13;
}

.dk-mode {
    background-color: var(--bg-black);
    color: var(--white);
}

.wt-mode {
    background: linear-gradient(180deg,
    rgba(255,255,255,1) 25%,
    rgba(251,251,250,1) 50%,
    rgba(239,239,239,1) 100%);

    color: var(--black);
}

.main-dk-mode {
    background-color: var(--main-black-color);
    color: var(--white);
}

.main-wt-mode {
    background-color: var(--main-white-color);
    color: var(--black);
}

.secondary-wt-mode {
    background-color: var(--secondary-white-color);
    color: var(--black);
}

/* classes just for the toogleMenu Lines */
.toogle-wt {
    background: var(--secondary-black-color);
}

.toogle-dk {
    background: var(--secondary-white-color);
}
